.square{
    width: 400px;
    height: 750px;
    background-color: #808080;
    }

.title{
    margin-left: 30px;
    margin-top: 30px;
    padding-top: 10px;
    color: white;
}
.sq1{
    width: 150px;
    height: 150px;
    background-color: #fea500;
    margin-top: 20px;
    padding-top: 10px;
    }
.sq2, .sq3, .sq4{
    width: 150px;
    height: 150px;
    background-color: #fea500;
    margin-top: 10px;
    }